{% extends 'menu/base.html' %}
{% load staticfiles %}
{% block content %}
  <div class="container">
    {% if post %}
    <h2 class="text-center">게시글 보기</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="card">
        <ul class="list-group">
          <li class="list-group-item"><span class="glyphicon glyphicon-tag"></span>  <strong>{{ post.name }}</strong></li>
          <li class="list-group-item"><span class="glyphicon glyphicon-usd"></span>{{post.best}}</li>
          <li class="list-group-item"><span class="glyphicon glyphicon-pencil"></span> {{ post.writer }}</li>
          <li class="list-group-item"><span class="glyphicon glyphicon-calendar"></span>{{ post.createdAt }}</li>
          <li class="list-group-item">{{ post.content }}</li>
          <li class="list-group-item">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
              Like!
            </button>
             </li>
        </ul>
      </div>
    </div>
    </div>
    {% else %}
    <h2 class="text-center">게시글이 존재하지 않습니다.(</h2>
    {% endif %}
  </div>
  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ post.name }}</h4>
      </div>
      <div class="modal-body">
        <p>추천하였습니다!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}