{% extends 'menu/base.html' %}
{% load staticfiles %}
{% block content %}

  <div class="container" style="margin-top:20px">
	<!-- Main component for a primary marketing message or call
	to action -->
	<div class="jumbotron title text-center" style="background-size : cover; background-image: url({% static 'menu/images/KakaoTalk_20161120_040836461.png' %});")>
		<h1 style="font-size : 40px; font-weight : bold">오늘의 베스트는 자유로운 자신의 일상 공간입니다</h1>
		<p>자신의 일상을 마음껏 공유해주세요!</p>
	</div>
	</div> <!-- /container -->
	<div class="container">
		{% if posts %}
		<h2 class="text-center">오늘의 베스트를 구경해보세요!!</h2>
		<div class="row">
		{% for post in posts %}
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="card">
		<div class="card-img-top">
	</div>
	<div class="card-block">
		<h4 class="card-title text-center">{{ post.name }}</h4>
		<h5 class="card-content text-center">{{ post.content }}</h5>

		<p class="card-text text-center">
		<span class="glyphicon glyphicon-star" aria-hidden="
		true"></span>
		</p>
		<a href="#" class="btn btn-default btn-lg btn-block">Like!</a>
			</div>
		</div>
	</div>
	{% endfor %}
	</div>
	{% else %}
	<h2 class="text-center">아직 작성된 포스트가 없습니다. -:(</h2>
	{% endif %}
</div>
{% endblock %}
